[project]
	description = This is for test project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Masbha Uddin Ahmed (masbha)
[access "refs/for/refs/*"]
	read = group user/Masbha Uddin Ahmed (masbha)
	push = group user/Masbha Uddin Ahmed (masbha)
	label-Code-Review = -2..+2 group user/Masbha Uddin Ahmed (masbha)
	label-Verified = -1..+1 group user/Masbha Uddin Ahmed (masbha)
	rebase = group user/Masbha Uddin Ahmed (masbha)
	removeReviewer = group user/Masbha Uddin Ahmed (masbha)
	submit = group user/Masbha Uddin Ahmed (masbha)
[access "refs/heads/*"]
	read = group user/Masbha Uddin Ahmed (masbha)
	create = group user/Masbha Uddin Ahmed (masbha)
	push = +force group user/Masbha Uddin Ahmed (masbha)
	pushMerge = group user/Masbha Uddin Ahmed (masbha)
[access "refs/tags/*"]
	push = +force group user/Masbha Uddin Ahmed (masbha)
	pushTag = group user/Masbha Uddin Ahmed (masbha)
	pushSignedTag = group user/Masbha Uddin Ahmed (masbha)
